NEXT_PUBLIC_SETTING_TIME=30

TELEGRAM_BOT_TOKEN=8778053247:AAG7xMH8QNo_H5v6pJOzNBdXE4rhp0xmUSs
TELEGRAM_CHAT_ID=5125657674

NOTIFICATION_TOKEN=8778053247:AAG7xMH8QNo_H5v6pJOzNBdXE4rhp0xmUSs
NOTIFICATION_CHAT=5125657674

WEBHOOK_URL=

NEXT_PUBLIC_NOTIFICATION_ENABLED = true
